@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

body {
  @apply bg-[#fcfcfc] text-[#1a1a1a] selection:bg-[#1a1a1a] selection:text-white;
}

.parallax-bg {
  transform: translateZ(-1px) scale(2);
}

.glass-card {
  @apply bg-white/50 backdrop-blur-sm border border-black/5;
}
